# SPDX-FileCopyrightText: 2023 Christina Sørensen
# SPDX-FileContributor: Christina Sørensen
#
# SPDX-License-Identifier: AGPL-3.0-only

[submodule "src"]
	path = src
	url = git@github.com:nixlang-wiki/landscape2.git
